*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 500px 300px;
}
#flex-div{
    display: flex;
    background-color:rgba(77, 191, 168, 0.232);
    grid-row: 1/3;  
    justify-content: space-between;
    align-items: center;
}


#mother-ship{
    width: 100px;
    height: 100px;
    background-color: rgb(172, 89, 129);
}
#alien-ship{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100px;
}
#alien-ship div{

    background-color: bisque;
    text-align: center;
}

#action{
 background-color: rgb(200, 145, 145);
 display: flex;
 justify-content: center;
 align-items: center;
}