*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 500px 300px;
}
#flex-div{
    display: flex;
    background-color:rgba(77, 191, 168, 0.232);
    grid-row: 1/3;  
    justify-content: space-between;
    align-items: center;
}


#mother-ship{
    width: 100px;
    height: 100px;
 
}

#mother-ship div{
    position: absolute;
    background-color: rgb(172, 89, 129);
    z-index: 1;
    border-radius: 10%;
    opacity: 0%;
}
#mother-ship div:hover{
    opacity: 100%;
}

#mother-ship p{
    color: white;
    
}
#mother-ship img{
  position:absolute;
  width: 200px;
  
}

  


#alien-ship{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100px;
}
#alien-ship div{
    position: relative;

}
#alien-ship div div{
    
    text-align: center;
    opacity: 0%;
    border-radius: 10%;
    
}
#alien-ship div div:hover{
    opacity: 100%;
    z-index: 1;
    font-size: 15px;
    color: yellowgreen
}

#alien-ship img{
    width: 75px;
    height: 75px;
    position: absolute;
    margin-top: -75px;
    z-index: 0;
}
#alien-ship img:hover{
  display: none;
}


#action{
 background-color: rgb(200, 145, 145);
 display: flex;
 justify-content: center;
 align-items: center;
}